$purple: #8824cd;
$deep-purple: darken($purple,15%);
$ash: #2e3b4e;
$coral: #e7526b;
$deep-coral: darken($coral, 15%);
$text-light: #fff;
$text-light-50: opacify($text-light, 0.5);
$text-dark: #3a4d60;