@import 'grid';
@import 'mixins';
@import 'color';
@import 'typography';
@import 'buttons';
@import 'forms';

body {
  background-color: $text-light;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  //background-color: desaturate($deep-purple, 30%);
  border-bottom: 1px solid fade_out($purple, .8);
  .top-logo {
    height: calc(2rem + 50px);
    img {
      height: 100%;
    }
  }
  .top-menu {
    display: flex;
    justify-content: flex-end;
    a {
      display: flex;
      align-items: center;
      position: relative;
      color: $text-light;
      text-transform: capitalize;
      text-decoration: none;
      font-size: $f-small;
      padding: 0 1.5rem;
      height: 100%;
      &::after {
        content: '';
        width: 0;
        height: 3px;
        background-color: $text-light;
        position: absolute;
        display: block;
        left: 1.5rem;
        bottom: 0;
        opacity: 0;
        transition: $transition;
      }
      &.active, &:hover {
        &::after {
          width: calc(100% - 3rem);
          opacity: 1;
        }
      }
    }
  }
}

.header {
  @include cover();
  color: $text-light;
  text-align: center;
  .row {
    height: 100vh;
    align-items: center;
  }
}

.features {
  background-color: $ash;
  color: $text-light;
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 140px;
    height: 36px;
    background-image: url(../images/layout/shape.png);
    position: absolute;
    bottom: -35px;
    left: calc(50% - 70px);
    z-index: 1;
  }
}